*{
    top: 0px;
    left: 0px;
    margin-top:0px;
    padding:0;
    
   
    
}
body {
    padding: 0;
    margin: 0;   
}
  .parent1 {
    background-attachment:fixed; 
    width:100vw;
    height:60px;
    background-color: grey;
    overflow: auto;
    position: fixed;
    opacity: 0.7;
    position: absolute;
    z-index: 20;
    position: fixed;
    
} 
.img1 {
    width: 70px  ;
    height: 60px ;
    float: left;
    margin-left: 100px;   
}

.ul1 {
    list-style: none;
    float: right;
    margin-right: 150px;
    margin-top:15px;
   
}
.container{
    width: 80%;
    margin: auto;
    
    
    
}
.containerr{
    width: 90%;
    margin: auto;
     
     
}


.ul1 li {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin-left: 22px
    
}
.ul1  li  a {
    
    text-decoration: none;
    color: #fff;
}
 .parent2{
    width:100vw;
    height:100vh;
    background-image: url(../imges/c5.jpg);
    position: relative;
    
    background-size:cover;
 }
   


  .overlay{
   
    width:100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    
    background-color:grey ;
    opacity: 0.3;
    
}  
  .div4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-align: center;
     position: relative; 
 } 
 

.title1{
    font-size: 60px;
    padding-bottom: 15px; 

    
}
.p1{
    font-size:20px;
    padding-top: 5px;
}

.btn1{
    width:150px ;
    height:40px ;
     border-radius: 14px;
    font-size: 19px;
    background-color: #b8b8cf;
    margin-left: 10px;
    border:0px ;
    opacity: 0.8; 
    transition: .5s;   
        
}
    

.btn2{
    width:150px ;
    height:40px ;
    border-radius: 14px;
    font-size: 19px;
    background-color: rgb(184, 184, 207);
    margin-left: 10px;
    border: 0px;
    opacity: 0.8;
    transition: .5s; 
    }
    
  .btn1:hover{
    background-color: e6e8e6;
    opacity: 0.7;
    cursor: pointer; 
    transform: scale(1.1);
  }
  .btn2:hover{
    background-color: e6e8e6;
    opacity: 0.7;
    cursor: pointer; 
    transform: scale(1.1);
  }
  .e1{
    height: 100vh;
    width:100vw;
}
    

   
 

.div1{
    height: 260px;
    width:27%;
    border: 1px solid grey;
    float:left;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
    



}


  .div1:hover{
    background-color:grey;
    
}
.div1:hover h2{
    color:#fff;
} 
.div2{
    height: 260px;
    width:27%;
    border: 1px solid grey;
    float: left;
    margin: 0 5%;
    text-align: center;
    font-size: medium;
    border-radius: 10px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    



}


  .div2:hover{
    background-color:grey;
    
}
.div2:hover h2{
    color:#fff;
}

.div1:hover p{

    color:white;
}
.div3:hover p{

    color:white;
}
.div2:hover p{

 color:white;
}

.div3{
      height: 260px;
      width:27%;
    border: 1px solid grey;
    float: left;
     text-align: center;
    font-size: medium;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         
}


  .div3:hover{
    background-color:grey;
    
}
.div3:hover h2{
    color:#fff;
}        

.parent3{
    width: 100vw;   
    background-color: #dbdbe8;

        
}
.div1 a,.div2 a,.div3 a
{
    font-size: 20px;
}



.parent{
    overflow:hidden;
    margin-left: 101px;
    margin-top: 100;
   
      }
      
  
.work {
    overflow: hidden;
     margin-left: 85px; 
    
}
.parent4{
    width:24%;
    float: left;
    position: relative;
    padding:20px;
    margin: 1% 2%;
}
.parent4 img{
    width: 100%;
    height: 300px;

}
.parent4 .im {
    margin-left:2px;
}
.parent4 .lay-content{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition:1s;
}
.parent4:hover .lay-content{
    opacity:1;
    visibility:visible;
}
.lay-content .lay-info{
    position: absolute;
     left:50%;
    top:50%;
    width: 80%;
   transform: translate(-50%,-50%); 
   text-align:center;
   
   
}
.lay-content .category {
    color: #2e70f4;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    position: relative;
    top: 15px;
    font-size: 20px;
    font-weight:bold;
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: 0;
}
.co{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
     top: 15px;        
    opacity: 0;
    visibility: hidden;
    transition: top 1s ,opacity .5s;
    transition-delay: .4s;
    margin-right: 60px;
   
}
.lay-content .coo  {
    display: inline-block;
    width:40px;
    height: 40px;
    background-color: #6195ff;
    position: relative;
    top:15px;
    opacity: 0;
    visibility: hidden;
     transition: top 1s .5s;  
    transition-delay: 0.6s;
}
 .parent4:hover .co,
.parent4:hover .lay-content a,
.parent4:hover .lay-content .category{
   top:0;
   opacity: 1;
   visibility: visible;
} 


.lay-content a i{
    line-height: 40px;
}
h1{
    height: 20px;
    text-align: center;
    padding-top:80px ;
}
hr{
    height: 3px;
    width: 50px;
    background-color: blue;
}
.i1{
    color: blue;
    font-size: large;
    padding-top: 30px;
}
.i2{
    color: blue;
    font-size: large;
    padding-top: 30px;
}
.i3{
    color: blue;
    font-size: large;
    padding-top: 30px;
}
a{
    text-decoration:none ;
}
p{
    font-size:21px ;
    padding-left:10px ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0.8;
}


h2:hover{
    color: rgb(252, 238, 238);
}

img{
    margin-left: 50px;
}
.f{
margin-top: -20;
padding-right: 20px;
margin-left: 9px;
}
.rr{
    margin-left:48.8%;
    height: 3px;
    width: 50px;
    background-color: blue;
    padding-right: 9px;
}


.d1{
    height: 220px;
    width: 30%;
    border:solid 2px;
    float: left;
     text-align: center;
    font-size: medium;
    border-radius: 15px ;
    transition: 0.5s;
    margin: 3% 0;
    margin-left: 2%;

}
.d2{
    height: 220px;
    width: 30%;
    border:solid 2px;
    float: left;  
    text-align: center;
    font-size: medium;
    border-radius: 15px ;
    transition: 0.5s;
   margin: 3% 3%;

}
.d3{
    height: 220px;
    width: 30%;
    border: 2px solid;
    float: left;
    
    text-align: center;
    font-size: medium;
    border-radius: 15px ;
    transition: 0.5s;
    margin: 3% 0;
    
}
.d4{
    height: 220px;
    width: 30%;
    border:solid 2px;
    float: left;
    
    text-align: center;
    font-size: medium;
    border-radius: 15px ;
    transition: 0.5s;
    
    margin-left: 2%;
    margin-bottom: 3%;
   




}
.d5{
    height: 220px;
    width: 30%;
    border:solid 2px ;
    float: left;
    
    text-align: center;
    font-size: medium;
    border-radius: 15px;
    transition: 0.5s;
    margin: 0% 3%; 
    margin-bottom: 3%;

   
    
    
    

}
.d6{
    height: 220px;
    width: 30%;
    border:solid 2px;
    float: left;
       text-align: center;
    font-size: medium;
    border-radius: 15px ;
    transition: 0.5s;
    margin-bottom: 3%;
    
    

}
.ml{
    line-height: 27px;
}
.parent6{
   margin: auto;
    overflow:hidden;
    margin-right: 12px;
}
.parent5{
    height: 100vh;
    width: 100vw;             
}
.d1:hover{
    background-color:grey;
    transform: scale(1.1);
}
.d2:hover{
    background-color:grey;
    transform: scale(1.1);

}
.d3:hover{
    background-color:grey;
    transform: scale(1.1);
   
}
.d4:hover{
    background-color:grey;
    transform: scale(1.1);
   
}
.d5:hover{
    background-color:grey;
    transform: scale(1.1);
    
}
.d6:hover{
    background-color:grey;
    transform: scale(1.1);
    

}
.d1:hover ,.d2:hover ,.d3:hover ,.d4:hover,.d5:hover,.d6:hover{
    color: #fff;
    
}

.g1{
    display: inline-block;
}  
.n1{
    margin-right:1397px;
    /* margin-top: -5px; */
    padding-left:8px;
    margin-top: -30px;
     
} 
.do{
    float: left;
    width: 45%;
    /* height: 50%; */
    /* background-color: #2e70f4; */
    margin-right: 6%; 
    
}

 h3{
    font-size: 40px;
    padding-top:30px ;
    padding-left: 70px;
 }   
    
 .n{
        margin-top: 50px;
        overflow: hidden;
    }
    .n3{
        float:left;
        margin-right:3%;
       width: 45%;

    }
    .o{
        height: 300px;
        width:72%;
        
    }
    .u{
        font-size:25px;
        list-style: none;
        line-height:35px ;
         margin-left: 60px; 
    }
    .i7{
        color: #6195ff;
    }
    .n2{
        line-height: 35px;
        padding-left: 3px;
        margin-left: 60px; 
    }
    .g5{
        height:100vh;
        width:100vw;
    }
    .t1{
        height:350px ;
        width: 27%;
        border:solid;
         float: left;
         border-radius: 10px; 
         position: relative;
    }
    .t2{
        height:350px ;
        width: 27%;
        border:solid;    
        float: left;
        border-radius: 10px;
        position: relative;
        margin: 0px 5%;
        
    }
    .t3{
        height:350px ;
        width: 27%;
        border:solid;
         float: left;
        border-radius: 10px;
        position: relative;
    }
    
    .t4{
      
        text-align: center;
        margin: auto;
         margin-left: 97px; 
        margin-top: 30px;
        opacity: auto;   
    }
    .t5{
        height: 100px;
        width: 100px;
        border: 2px solid #6195ff;
        
        border-radius: 50%;
    }
    .doller{
         display: inline; 
        font-size: 50px;
       

        
    }
    .t5{
        text-align: center;
        margin: auto;
    
    }
    .month{
        font-weight: bold;
        font-size: 15px;
    }
    .ca1{
        padding-top: 55px;
        padding-right: 150px;
        
    }
    .ca{
        list-style: none;
        width: 400px; 
        height: 250px;
        margin-right: 30px;
        margin: auto;
        font-size: 16px;
        line-height: 8px;
        margin-left: -70px;
        text-transform: capitalize;
        
    }
    .ca2{
         padding-right: 150px; 
        
    }
    .ca3{
        padding-right: 150px;
    }
    .table{
          
         padding-bottom: 10px;
         margin-right: 20px;
    }
    .j{
      margin-left:735px;
      padding-left: 3px;
        
    }
    .t1:after,.t2:after,.t3:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0 ;
    top: 0;
    left: 0;
    background-color: #0b0c0c;
    transition: .5s;
    opacity:.5;
   }
   .t1:hover:after,.t2:hover:after,.t3:hover:after {
       width:100%;
       height:100%;
       opacity: 0.5 ;
       transition: 1s;
   }
   .t1:hover  .ta2,.t2:hover .ta2,.t3:hover .ta2 {
       color:blue;
   }
   .t1:hover .t5, .t2:hover .t5, .t3:hover .t5 {
       color:blue;
   }
   

    
    .ta2{
        padding-top: 15px;
    }
    .ca4{
        border: 2px solid #6195ff;
        margin-top:30px;
        font-size: 20px;
        margin-left:-140px ;
        border-radius: 3px;
        margin-top: 17px;
        padding: 0px 10px;

    
    }
    .ci1 li{
        width: 10px;
        height: 10px;
        display: inline-block;
        background-color: #a8a8a8;
        margin: 10px 5px;
        border-radius: 50% 
    }
    .ci1 li.c2{
        background-color: #6195ff;
        
    }
     .ci1 { 
       
        text-align: center;
        margin-right: 10%;
    }
    .c3:hover{
        background-color: #6195ff;
    }
    .bimg{
        position: relative;
        background-image: url(../imges/c3.jpg);
        height: 350px;
        background-size: cover;
        background-attachment: fixed;
        width: 100vw;
    }
    .g5{
       background-color: #dbdbe8;
    }
    .overlay1{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(119, 111, 111, 0.3);
    }
    
   
    .num{
        overflow: hidden;
        padding-top: 130px;
    }
    .nums{
        width: 25%;
        float: left;
        text-align: center; 
        
    }
    .ic1{
        color: rgb(76, 76, 255);
        font-size: 30px;
    }
    .sp{
        padding-left: 50px;
        color:rgb(247, 242, 242);
        font-size: 30px;
        display: block;
        margin-top: -20px;
    
        
    }
    .k1{
        text-align: center;
        padding-right: 30px;
        color:rgb(247, 242, 242);
        
    
    }
    .bimg2{
        background-image: url(../imges/s2.jpg);
        height: 350px;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
        width: 100vw;
        margin-top: 500px;
    }
    .t{
        height:100vh;
        width:100vw; 
     /* background-color: #dbdbe8;  */
    }
    .overlay2{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        overflow: auto;
            }
            .web{
                overflow: hidden;
                /* width: 90%; */
                margin: auto;   
            }
            .web1{
                float: left;
                width: 40%;
                color: #fff;
                padding-right: 30px;
                padding-top: 55px;
                text-align: center;
               
                
            }
            .web3{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                float: left;
            }
            .web5{
                float: left;
                margin-left: 10px;
                font-size: 20px;
                margin-top: 15px;
                line-height: 6px;
                
            }
            .web4{
                color:blue
            }
            .web6{
                margin-top: 10px;
                padding-top: 100px;
            }
               .we1{
               
                float: left;
                width: 40%;
                color: #fff;
                padding-right: 30px;
                padding-top: 55px;
                margin-left:8%;
                text-align: center;
            }  
            .members{
                padding-top: 400px;
                font-size: 35px;
            }  
            .team-content {
                overflow: auto;
                margin-top: 30px;
                
            }
           
            
            .team-img {
                background-color: #d6d7e3;
                width: 90%;
                position: relative;
                margin-left:4%;
            }
            .team-overley {
                position: absolute;
                top: 0 ;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.6);
                visibility: hidden;
                opacity: 0;
            }
            .team-item:hover .team-overley{
                visibility: visible;
                opacity: 1;
            }
            .team-overley a {
                display: block;
                width:40px;
                height:40px;
                background-color: rgb(32, 120, 235);
                color: #fff;
                margin-left: auto;
            }
            .team-overley a  i {
                line-height: 40px;
            }
            .team-info-title {
                padding: 10px 0;
                text-transform: capitalize;
            }
            .team-info-text {
                color: #4067b4;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
            }
           
            
            .team-item:after{
                content: "";
                position: absolute;
            
                width: 0 ;
                height: 0 ;
            
                top: 0 ;
                left: 0 ;
            
                background-color: rgb(7, 6, 6);
                opacity: 0 ;
            }
            .team-item:hover:after {
                width:100%;
                height:100%;
                opacity: 0.4;
                transition: 1s;
            }
            
            
             .team-item {
                display: block;
                float: left;
                width:25%;
                 padding: 17px 13px;
                background-color: #d6d7e3;
                text-align: center;
                position: relative;
                margin: 0% 3%;
                
                
                
            }
            
         .mg {
            margin: 0 6.5%;
        } 
        .team-img  img {
            width:90%;
            height: 300px;
        }
        
        .recent-img{
             width: 80%;
            margin-left: 7.5%;
            
        }
        .recent-img img{
            height: 290px;
            width: 90%;
        }
        .recent-list{
            list-style: none;
             margin: 10px 0; 
             margin-left: -20px;
        }
        .recent-list li{
            display: inline-block;
            font-size: 15px;
             margin: 0 7px;
        }
        .r{
            padding: 0px 10px;
            font-size: 15px;
            color:#3560b7;
            
        }
        .recent{
            margin-top: 70px;
            overflow: hidden;
            margin-left:6px;
        }
        .recent-items{ 
            display: block;
            float: left;
            width:27%;
            background-color: #d6d7e3;   
            text-align: center;
            position: relative;
             height: 580px; 
             margin: 0 3%;
            
            
        }
          .r1{
            font-size: 25px;
            padding-right: 40px;
            margin-top: -20px;
        }
        
      
       .recent-img img{
        margin-right: 70px;
        margin-left: -20px;
       }
       .r3{
    
        font-size: 20px;
        
       }
       

       
       .recent-items:after{
        
        position: absolute;
        content: "";
        width: 100%;
        height: 0 ;
        top: 0;
        left: 0;
        background-color: #0b0c0c;
        transition: .5s;
        opacity:.5;

       }
       .recent-items:hover:after{
        width:100%;
        height:100%;
        opacity: 0.4;
        transition: 1s;


       }
       .recent-img img{
        margin-left: 25px;
      
       }
       .footer img{
        width: 190px;
        height: 100px;
       }
       .ufoot li a{
        display: inline-block;
        background-color: #6195ff;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 1;
        border-radius: 50%;
       }
       a{
        text-decoration: none;
       }
       .ufoot li{
        display: inline-block;
        background-color: #6195ff;
        width: 50px;
        height: 50px;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        margin: 0px 2px;
       }
       .ufoot li a:hover{
        background-color: #4067b4;
       }
       .footer{
        text-align: center;
        height: 250px;
        padding: 60px 0;
        margin-top: 50px;
        background-color: grey; 
       }
       .pfoot{
        padding-top:20px;
        color: #fff;
        font-size: 13px;
       }
        .ufoot{
            padding-top: 30px;

        }
        .ff{
            font-size: 30px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding-top: 13px;
            color:white;
            text-align: center;
        }
        